body {
    background-image: url("../img/Firefox_wallpaper.png");
}
#cnv {
    background-color: rgba(255, 255, 255, 0.74);
    border: 1px solid rgb(136, 134, 129);
}

.allContent {
    display: flex;
    text-align: center;
}

.header {
    margin: auto;
    text-align: center;
}

.content {
    width: 45%;
    margin: auto
}

.aside {
    width: 45%;
}

 #screen {
    background-color: rgb(31, 31, 31); 
    color:rgba(255, 255, 255, 0.74);
    font-weight: bolder;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    letter-spacing: 10px;
    margin: auto;
    margin-bottom: .2em;
}

h1 {
    padding-bottom: 1em;
}
#keyboard {
    background-color: rgba(255, 255, 255, 0.74);
    border: 1px solid rgb(136, 134, 129);
    padding: 2em;
    width: 70%;
    margin:auto;
    text-align: center;
}

.btn {
    width: 3em;
    text-align: center;
    background-color: rgb(211, 210, 210);
    border-radius:10%;
    box-shadow: .2em .2em.2em grey;
    border: none;
    height: 2em;
    color: rgba(5, 5, 5, 0.74);
    margin: .2em;
}

#newPart {
    margin-top: 2em;
    text-align: center;
    background-color: rgb(211, 210, 210);
    border-radius:10%;
    box-shadow: .2em .2em.2em grey;
    border: none;
    height: 2em;
    color: rgba(5, 5, 5, 0.74);
}